@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body{

    margin: 10px;
    padding: 10px;
    background-image: url(https://4kwallpapers.com/images/wallpapers/silhouette-mountain-starry-sky-night-time-purple-sky-3385x2281-4277.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  body {
    font-family: 'Rocher';
    /* text-align: center; */
    font-size: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    margin: 0;
  }

  @font-palette-values --Yellows {
    font-family: Rocher;
    base-palette: 0;
  }

  @font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .yellows {
    font-palette: --Yellows;
  }

  .grays {
    font-palette: --Grays;
  }
  
  .mint {
    font-palette: --Mint;
    margin-bottom: 50px;
    padding-left: 20px;
  }

.float-parent-element {
    width: 100%;
    height: 100%;
}

.float-child-element {
    margin: 5px;
    padding: 5px;
    float: left;
    width: 45%;
    height: 45%;
    vertical-align: middle;
}

.button-section {
    margin-bottom: 0px;
}

.canvas-section {
    text-align: center;
    width: 100%;
    height: 100%;
}

.basic-btn {
    font-palette: --Yellows;
    font-family: Rocher;
    width: 20%;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    background-color: rgb(102, 44, 119);
    color: white;
    border: 1.5px solid black;
}

.basic-btn:hover, .basic-btn:focus, .basic-btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.range-input {
    width: 50%;
    margin-left: 50px;
}

.text-input{
    transform: translateX(30px);
    width: 50px;
    background-color: skyblue;
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.column { 
    float: left; 
    width: 5%;
    height: 250px; 
} 

.box { 
    border-radius: 20px; 
    margin-left: 10px; 
    margin-right: auto; 
    padding-top: auto; 
    padding-bottom: 20px; 
    width: 500px; 
} 

label{
    padding-left: 30px;
    color: white;
}

input[type="range"]{
    color: white;
    position: relative;
}
input[type="range"]::before{
    position: relative;
    display: inline-block;
    content: attr(min);
    transform: translateX(calc(-100% - 10px));
}
input[type="range"]::after{
    position: relative;
    display: inline-block;
    content: attr(max);
    transform: translateX(calc(100% + 10px));
}

.color-input {
    width: 20%;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.canvas-obj {
    width: 512px;
    height: 512px;
}